<% include ../partials/header.ejs %>

<form name="new_user_form" id="new_user_form" method="post" action="/users">

    <label for="basic-url">Sign Up!</label>
    <br>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" name='name' id='name'>
    </div>
    <!-- <label for='email'>Email:</label> -->
    <div class="input-group">
      <input type="text" class='form-control' placeholder="Email" name="email" id="email">
    </div>
    <input class='btn btn-primary text-center' type="submit" value="Save">
</form>

<% include ../partials/footer.ejs %>
