html, body {
  box-sizing: border-box;
}

body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* HEADER */

/* NAV/NAVBAR */

/* MAIN APP */
#main {
    padding: 0;
    margin: 10px;
    height: 675px;
}

#name {
  margin: 5px;
  margin-bottom: 20px;

}

#email {
  margin: 5px;
}

#save-btn {
  margin-top: 50px;
}



/* FOOTER */
footer {
    font-size: 80%;
    color: gray;
    margin-bottom: 0;
    padding: 0;
}
