html, body {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#main {
    margin: 20px;
    height: 500px;
}

footer {
    font-size: 80%;
    color: gray;
}
