  </div> <!-- //main -->
    <footer class='navbar navbar-bottom text-center'>&copy;2016 ACME Inc</footer>

  </body>
  <!-- jquery cdn  -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
</html>
