<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- mobile bootstrap link  -->
    <title>Phun-with-tic-tac-to-ware</title>
    <!--  twitter bootstrap link  -->
    <!-- stylesheet link  -->
  </head>
  <body>
    <h1>Phun with Tic-Tac-To!</h1>
    <div id='main'>
